@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">
        Welcome to Disaster Alleviation Foundation
    </h1>
    <img src="~/download.jpg" width="300" height="250" />
    <p>
        Our mission is to provide support and relief to those affected by disasters.
        Together, we can make a difference in the lives of those in need. Join us in
        our efforts to bring hope and assistance to communities facing challenges.
    </p>
    <p>
        Whether it's natural disasters, conflicts, or emergencies, we stand ready to
        lend a helping hand. Your support enables us to provide essential resources,
        shelter, medical assistance, and more to those impacted by crises.
    </p>

</div>